[submodule "nlpminion"]
	path = nlpminion
	url = https://github.com/carhaas/nlpminion
[submodule "smt-semparse"]
	path = smt-semparse
	url = https://github.com/carhaas/smt-semparse
[submodule "smtsemparse"]
	path = smtsemparse
	url = https://github.com/carhaas/smtsemparse
